

body {
    font-family:  "sans-serif";
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; */
    margin: 0;
    padding: 0;
  }
.nav-logo{
    width: 100px;
    height: 80px;
}

.nav-item a:hover{
    
    color: #aaa;
    font-weight: 800;
    /* margin: 0 10px; */
}


/* banner start */
#banner-section{
    background-image: url("../img/banner1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat; 

    /* background-color: green; */
}

.banner-contents{
    padding: 50px 10px;
    text-align: center;
}

.banner-contents h1, h4{
    width: 100%;
    margin: 15px auto;
    font-size: 3rem;
    background:rgb(255,255,0,0.884);
    color:black;
    border-radius: 5px;
    padding:10px;
    font-family: 'Handlee', cursive;
   }

/* banner end */


.card-item{
    display: flex;
    align-items: center;
    justify-content: center;

}

.my-card-imge{
    width: 100%;
    height: auto;
    border-radius: 2%;
    align-self: center; 
  border-bottom: 1px solid #ddd;
}


.card{
    border: none !important;
     width: 300px; 
    border-radius: 10px;
     padding: 0px, 10px; 
   overflow: hidden; 
  padding: 10px ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
   
}


.card-content {
    padding: 5px;
  }
  
  .card-content h2 {
    margin-top: 0;
    color: #333;
  }
  
  .card-content p {
    color: #666;
  }
/*   
#adult{
    display: block;
}

#child{
    display: block;
} */


#Card-para-Age18
{
    font-size: 25px;
    font-weight: 200px;
}

#Card-para-Age
{
    font-size: 25px;
    font-weight: 200px;
} 


/* input Design */



label{
    display: block;
    margin-bottom: 10px;
}

input{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
     box-sizing: border-box; 
}




.footerLink{
    text-decoration: none;
    color: #000;
    /* background-color:rgb(33, 37, 41) */
    
}

#Message{
    color: red;
}